n8n_workflow/Knowledge_base_n8n_ollama.json
{
  "name": "Knowledge_base_n8n_ollama",
  "nodes": [
    {
      "parameters": {
        "name": "documents",
        "topK": 3
      },
      "id": "394d83f8-e7e8-4ac8-922e-023c4dcd6ab8",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        680,
        520
      ]
    },
    {
      "parameters": {
        "content": "## Local RAG AI Agent",
        "height": 387,
        "width": 1349,
        "color": 4
      },
      "id": "dbd05a50-caa4-40fd-871c-b23f9081e3d6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -40
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for Local RAG",
        "height": 849,
        "width": 603,
        "color": 3
      },
      "id": "638944d5-452d-428e-9fdc-877fa7695b4d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        360
      ]
    },
    {
      "parameters": {
        "content": "## Workflow to Create Local Knowledgebase from File uploaded by Admin",
        "height": 845,
        "width": 749,
        "color": 5
      },
      "id": "ca3490cb-0437-4ed4-a98a-2b36b334b7d2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        360
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "de3a328f-0b8f-4c3d-8397-948d3cb623fc",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        600,
        760
      ],
      "credentials": {
        "qdrantApi": {
          "id": "2itBMD6y38uovlWv",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "efc84841-18f7-4bb1-ad3b-97ca5c570dd9",
      "name": "Qdrant Vector Store Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        80,
        480
      ],
      "credentials": {
        "qdrantApi": {
          "id": "2itBMD6y38uovlWv",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ \"aiResponse\": $json[\"output\"] || \"No result found\" }) }}\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cea589cb-18e4-4670-9991-d8b569fad8a0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Use ONLY the information retrieved from the knowledge base to answer the question.\nIf the knowledge base is empty or unrelated, say: \"I’m unable to answer that based on the information I have right now.\""
        }
      },
      "id": "f64d8279-f1d7-4739-be31-1f24dc713ce1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        440,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8778221e-3f29-4703-a3e2-245bea9eb8f0",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4968402a-0b43-44af-be29-b060a44b1604",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1a0b00b4-f07c-4827-936b-7b924a9b3dc6",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "13fa689f-3c77-42ee-8c49-16e884994b6c",
      "name": "ChatWebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        40
      ],
      "webhookId": "1a0b00b4-f07c-4827-936b-7b924a9b3dc6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "24964af1-c770-4327-87e8-cccb86de08fd",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        480
      ],
      "id": "d02304e6-ad96-44dd-a166-e1d01020cfa3",
      "name": "UploadWebhook",
      "webhookId": "24964af1-c770-4327-87e8-cccb86de08fd"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -140,
        820
      ],
      "id": "e8b5b2ec-50fd-4626-939a-69235003cf86",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e87709b-9b09-4be5-9383-98accf203fc6",
              "name": "page_content",
              "value": "={{ $json.chunk_text }}",
              "type": "string"
            },
            {
              "id": "a9d11b82-0e7c-4f01-98ef-02afc6f3e6bb",
              "name": "metadata",
              "value": "={\"chunk_title\": \"{{ $json[\"chunk_title\"] }}\", \"source_file\": \"{{ $json[\"source_file\"] }}\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        1080
      ],
      "id": "74702a7b-b03a-47f9-8052-b61cde246466",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        340,
        700
      ],
      "id": "38b62ccb-0f05-4799-91fe-9874d3693ae8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "This node is doing same thing as the Split Out node."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        1060
      ],
      "id": "02ca559f-b785-4c7c-9a9c-1b714551f671",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        440,
        240
      ],
      "id": "075b3512-8b8e-4d50-aca9-74cad513caca",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        920,
        740
      ],
      "id": "45e60c19-bb13-4061-b868-b729cb64f80b",
      "name": "Ollama Chat Model1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        460,
        1040
      ],
      "id": "20de838f-5cfc-4656-87f7-63b5917a81f5",
      "name": "Embeddings Ollama"
    }
  ],
  "pinData": {},
  "connections": {
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ChatWebhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadWebhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "125766a2-5226-41ce-a8d1-b9866e6ed84a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f07af6b3fa86e948fc26721a55553c71cf6e65076df471633f7e6593b8f3c62"
  },
  "id": "R93JRgJTbE2i6rDr",
  "tags": []
}