n8n_workflow/Knowledge_base_n8n_ollama.json
{
  "name": "This is the real deal",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Knowledge_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -120,
        40
      ],
      "id": "aeafe4d2-f427-45ed-8dfe-f5c555d36a65",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Knowledge file'][0].filename }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "ec3e43b5-0237-433c-bcb4-2069f1e5ffb0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "652f143f-6274-4274-b8b0-730f33e23b41",
                    "leftValue": "={{ $json['Knowledge file'][0].filename }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -340,
        140
      ],
      "id": "e331178a-1e5a-4226-aed5-fdcc23c5a901",
      "name": "Switch"
    },
    {
      "parameters": {
        "binaryPropertyName": "knowledgenet",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -120,
        240
      ],
      "id": "fc5f72af-7083-4db0-a672-ef7f712faaf7",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        340,
        520
      ],
      "id": "257c03ee-f674-4918-9cda-129593ab5973",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "formTitle": "Create knowledge",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Knowledge file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -560,
        140
      ],
      "id": "e4b59b7f-f45c-4aba-9950-4ce342fc4a16",
      "name": "On form submission",
      "webhookId": "f8549ed2-a332-44c4-bf55-d43ca012b002"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "test",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        120,
        140
      ],
      "id": "55a8434d-059f-4870-ab30-775d3b9c0b4b",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "fE4NFkVdibVEvfbP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        300,
        322.5
      ],
      "id": "cf17c285-30ba-4f17-a1af-f67632d1f588",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        100,
        360
      ],
      "id": "8c4499b5-f904-4bdc-8e25-be9c801dab30",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "G5FDzXf9yOmnuYe2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        920,
        0
      ],
      "id": "ef372a98-3bc2-46dc-a7fd-9956e84f5f80",
      "name": "When chat message received",
      "webhookId": "35f775ed-f171-48f0-995f-e16ae0579746"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        1160,
        0
      ],
      "id": "35a91562-028a-4179-b25d-fbe9961cdfd5",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1140,
        220
      ],
      "id": "cb85b227-cbec-4b5f-9ba0-f85db31ab756",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "G5FDzXf9yOmnuYe2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1260,
        220
      ],
      "id": "bbbfcb0e-568e-4397-9d61-8e5573fe74b7",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "test",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1260,
        420
      ],
      "id": "b8994d4d-95ee-4264-bb84-2b07a16810d4",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "fE4NFkVdibVEvfbP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1340,
        560
      ],
      "id": "b56e6116-8bbf-467e-b611-3c20377b8b7c",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "G5FDzXf9yOmnuYe2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG Chatbot\n**Chat with your data",
        "height": 700,
        "width": 1200,
        "color": 4
      },
      "id": "85136aa0-354a-4180-84b5-1dd3cf998314",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow to Create Local Knowledgebase from File uploaded by Admin\n**Upload your document",
        "height": 700,
        "width": 1200,
        "color": 4
      },
      "id": "6164bba2-bcc4-438e-b25d-6c4f92b46c31",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -40
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ce8c4f2-4dfe-438a-94f1-69f57662fb50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e25c967ff769538fc8d82d9cdb9f6ea96424e51b649a2d0913d2aa0ff6f5f48f"
  },
  "id": "M4ragOWDhwTNioIU",
  "tags": []
}