n8n_workflow/Knowledge_base_n8n_real.json
{
  "name": "Knowledge_base_n8n_real",
  "nodes": [
    {
      "parameters": {
        "name": "documents",
        "topK": 3
      },
      "id": "462607bd-6653-4b30-80f6-d0cfd368b9eb",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        680,
        520
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "19d7e7ce-4436-4782-93ab-5558812270b1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        260,
        620
      ]
    },
    {
      "parameters": {
        "chunkSize": 200,
        "options": {}
      },
      "id": "1f66a47e-8e25-4e49-a9a7-77bec61db2b5",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        400,
        760
      ]
    },
    {
      "parameters": {
        "content": "## Local RAG AI Agent with Chat Interface",
        "height": 387,
        "width": 1349,
        "color": 4
      },
      "id": "5dd60577-1e5a-471c-9b2d-41c99c619ccb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -40
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for Local RAG",
        "height": 849,
        "width": 603,
        "color": 3
      },
      "id": "73821660-499e-4bea-892c-a4e8991d52b5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        360
      ]
    },
    {
      "parameters": {
        "content": "## Workflow to Create Local Knowledgebase from File uploaded by Admin",
        "height": 845,
        "width": 749,
        "color": 5
      },
      "id": "e87e533b-1511-4e7b-86fd-47dfbc82e016",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        360
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "ff9d95e3-03ce-400f-b0f2-848d8560bd48",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        600,
        760
      ],
      "credentials": {
        "qdrantApi": {
          "id": "2itBMD6y38uovlWv",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "dc294190-bb1f-493c-bbbb-a2dd38bc9f56",
      "name": "Qdrant Vector Store Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        80,
        480
      ],
      "credentials": {
        "qdrantApi": {
          "id": "2itBMD6y38uovlWv",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ \"aiResponse\": $json[\"output\"] || \"No result found\" }) }}\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "69111829-f249-4b9d-a6fa-89b0a9ef8d8e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Use ONLY the information retrieved from the knowledge base to answer the question.\nIf the knowledge base is empty or unrelated, say: \"I don’t know based on the uploaded content.\""
        }
      },
      "id": "b149971a-ea81-4baf-a9a7-c8c84486089c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        440,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8778221e-3f29-4703-a3e2-245bea9eb8f0",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b6a31df-85a3-4110-8f66-f6e45657285b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        40
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        220
      ],
      "id": "896f7c70-7cd2-4efe-bcc0-8762cde78450",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KkWYLpTvphtC5Nf0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        740
      ],
      "id": "de370b93-c485-404b-bb49-f52d9f3d9748",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KkWYLpTvphtC5Nf0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        1080
      ],
      "id": "e457f8b1-bcac-4eda-84bf-7f43db2fef08",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "KkWYLpTvphtC5Nf0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-with-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e4da04cc-3fd1-4b13-b66c-9ea7a5bf22fe",
      "name": "ChatWebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        40
      ],
      "webhookId": "4a839da9-b8a2-45f8-bcaf-c484f9a5912d"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-file",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        480
      ],
      "id": "4e42c7c1-04a8-4688-b1d9-836d1392afea",
      "name": "UploadWebhook",
      "webhookId": "8fdafc1f-ff61-4757-8fe3-2a370d7291e2"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ChatWebhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadWebhook": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc0a66d0-92f2-4a82-bce1-27c66126d5cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f07af6b3fa86e948fc26721a55553c71cf6e65076df471633f7e6593b8f3c62"
  },
  "id": "sav6gj9eZxtdwoku",
  "tags": []
}