n8n_workflow/Knowledge_base_n8n_ollama.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Knowledge_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        512,
        80
      ],
      "id": "a741215b-3b10-4952-9bce-b65ce77d6389",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Knowledge file'][0].filename }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "ec3e43b5-0237-433c-bcb4-2069f1e5ffb0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "652f143f-6274-4274-b8b0-730f33e23b41",
                    "leftValue": "={{ $json['Knowledge file'][0].filename }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        288,
        192
      ],
      "id": "696597f7-2ec0-47c4-a28a-f9ce7c9c4379",
      "name": "Switch"
    },
    {
      "parameters": {
        "binaryPropertyName": "knowledgenet",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        512,
        288
      ],
      "id": "9c835acf-cf73-4d5d-ab22-419744e057c5",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "formTitle": "Create knowledge",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Knowledge file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        64,
        192
      ],
      "id": "bd95cf0e-2ce6-4416-83c0-923d0616714a",
      "name": "On form submission",
      "webhookId": "f8549ed2-a332-44c4-bf55-d43ca012b002"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "eoam",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        752,
        192
      ],
      "id": "04054975-4a87-4872-a33e-881a877758f1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "zlfypfnmx7NsJcUd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        368
      ],
      "id": "e468a83d-bcd9-4f5f-9bbc-397a575a1192",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        720,
        400
      ],
      "id": "3dc55625-97eb-4575-90bf-c3c5ddda91c8",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "fc6pVNRgbu4Mekf4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1264,
        320
      ],
      "id": "8ffa023f-7bb2-46bf-a14d-c4d6fef8462b",
      "name": "When chat message received",
      "webhookId": "35f775ed-f171-48f0-995f-e16ae0579746"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        1920,
        80
      ],
      "id": "06ba808d-0ec6-4441-ad5c-70ea3b999fd6",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1872,
        352
      ],
      "id": "39024860-cb60-45ba-890d-0c126f10464e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "fc6pVNRgbu4Mekf4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2096,
        336
      ],
      "id": "e13c0501-4057-47f4-9e35-954a019ff237",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "eoam",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2160,
        512
      ],
      "id": "17930333-40ab-409c-aa95-044fb73f41ab",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "zlfypfnmx7NsJcUd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1872,
        608
      ],
      "id": "52709d87-983a-4ce0-a9db-059acd0eafce",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "fc6pVNRgbu4Mekf4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG Chatbot\n**Chat with your data",
        "height": 700,
        "width": 1200,
        "color": 4
      },
      "id": "750fc369-c34f-4fb2-9889-ae40e36cc076",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow to Create Local Knowledgebase from File uploaded by Admin\n**Upload your document",
        "height": 700,
        "width": 1200,
        "color": 4
      },
      "id": "95607014-795a-4911-94b8-225475f74f89",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f47cc70-eaac-4c4d-894b-05a243dcaffc",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}  || {{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "807709de-6aa7-41df-8457-e4dcaf55a230",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=chatwithai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8fe5b26f-4595-4ce3-83b1-115ac206597a",
      "name": "ChatWebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1248,
        80
      ],
      "webhookId": "1a0b00b4-f07c-4827-936b-7b924a9b3dc6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=uploadfile",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        432
      ],
      "id": "22e9aace-ec86-4ddd-b4c5-4a3559ae7828",
      "name": "UploadWebhook",
      "webhookId": "24964af1-c770-4327-87e8-cccb86de08fd"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        960,
        560
      ],
      "id": "0dc93192-efd7-417c-894a-18b9698940bd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ \"aiResponse\": $json.response ? $json.response : \"No result found\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2272,
        80
      ],
      "id": "40f1e96d-18ba-4d5b-bf9c-446b25e9f03e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "ChatWebhook": [
      {
        "json": {
          "headers": {
            "host": "127.0.0.1:5678",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "17",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hi"
          },
          "webhookUrl": "http://localhost:5678/webhook/chatwithai",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ChatWebhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadWebhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c88b431e-df79-4ffc-9890-5091e6fe5e8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e25c967ff769538fc8d82d9cdb9f6ea96424e51b649a2d0913d2aa0ff6f5f48f"
  },
  "id": "9cUgiqd8orQmAaCZ",
  "tags": []
}